header{
    width: 100%;
    height: auto;
    background: #FFFBF3;
}
.hnavbar{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    box-shadow: 0px 15px 10px rgba(116, 115, 115, 0.422);
}
@media screen and (max-width: 1130px) {
    .list{
        top: 0;
        left: 0;
        transform: translateX(-1000px);
        width: 300px;
        height: 550px;
        position: fixed;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.3);
    }
    .menu{
        display: block;
        background: none;
        outline:  none;
        border: none;
    }
    .menu:active{
        background: aqua;
    }
}
.hnavbar_right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.hnavbar_left h1{
    font-size: 30px;
    font-weight: 700;
}
.hnavbar_left h1 span{
    color: #FFC12F;
}
.hnavbar_right li{
    font-weight: 600;
    position: relative;
}
.hnavbar_right li::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #FFC12F;
    scale: 0;
}
.hnavbar_right li:hover::before{
    scale: 1;
    transition: 0.5s;
}

.hnavbar_right li:hover{
    color: #FFC12F;
    cursor: pointer;
}

.fast{
    margin-bottom: 20px;
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFC12F;
    background: #ffc12f2c;
    font-size: 13px;
    font-weight: 500;
}
.htext{
    margin-left: 30px;
}
.htext span{
    color: #FFC12F;
}
.htext h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}
.lorem{
    padding-top: 30px;
    font-size: 15px;
    line-height: 40px;
    color: #667085;
}
.btn{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn button{
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 20px;
    transition: 0.5s;
}
.btn button:hover{
    background: #FFC12F;
    transform: scale(1.1);
    color: white;
}
.getstart{
    width: 100px;
    height: 30px;
}
.info{
    gap: 10px;
    width: 150px;
    height: 30px;
}
.hed_content{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1200px) {
    .htext{
        margin-top: 70px;
    }
    .hed_content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .hed_content img{
        margin-top: 30px;
        width: 100%;
        animation: img 1s linear;
        animation-timeline: view();
        animation-range: entry 1;
    }
    @keyframes img {
        from{
            opacity: 0;
            scale: 0;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }
}